@import "tailwindcss";

@theme {
  --color-primary: #2879fa;
  --color-primary-foreground: #ffffff;
  --color-secondary: #cedffb;
  --color--secondary-foreground: #111827;
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-accent: #3b82f6;
  --color-accent-foreground: #ffffff;
  --color-muted: #bfbfbf;
  --color-muted-foreground: #bfbfbf;
  --color-border: #e5e7eb;
  --color-border-foreground: #111827;
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

[data-theme="dark"] {
  --color-primary: #61a7f8;
  --color-primary-foreground: #1e3a8a;
  --color-secondary: #272d33;
  --color-secondary-foreground: #f3f4f6;
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-accent: #2563eb;
  --color-accent-foreground: #ffffff;
  --color-muted: #7e8693;
  --color-muted-foreground: #7e8693;
  --color-border: #4b5563;
  --color-border-foreground: #d1d5db;
}

[data-theme="forest"] {
  --color-primary: #22c55e;
  --color-primary-foreground: #14532d;
  --color-secondary: #e5fdbe;
  --color-secondary-foreground: #365314;
  --color-background: #f0fdf4;
  --color-foreground: #166534;
  --color-accent: #16a34a;
  --color-accent-foreground: #ffffff;
  --color-muted: #a2b8ac;
  --color-muted-foreground: #a2b8ac;
  --color-border: #a7f3d0;
  --color-border-foreground: #065f46;
}

[data-theme="ocean"] {
  --color-primary: #0ea5e9;
  --color-primary-foreground: #075985;
  --color-secondary: #a2d5ff;
  --color-secondary-foreground: #0e7490;
  --color-background: #f0f9ff;
  --color-foreground: #0c4a6e;
  --color-accent: #0284c7;
  --color-accent-foreground: #ffffff;
  --color-muted: #bfbfbf;
  --color-muted-foreground: #bfbfbf;
  --color-border: #bae6fd;
  --color-border-foreground: #0369a1;
}

[data-theme="sunset"] {
  --color-primary: #f43f5e;
  --color-primary-foreground: #881337;
  --color-secondary: #fcbece;
  --color-secondary-foreground: #9f1239;
  --color-background: #fff1f2;
  --color-foreground: #9f1239;
  --color-accent: #e11d48;
  --color-accent-foreground: #ffffff;
  --color-muted: #aaaaaa;
  --color-muted-foreground: #aaaaaa;
  --color-border: #fecdd3;
  --color-border-foreground: #9f1239;
}

[data-theme="purple"] {
  --color-primary: #9333ea;
  --color-primary-foreground: #4c1d95;
  --color-secondary: #d0a4fb;
  --color-secondary-foreground: #6b21a8;
  --color-background: #faf5ff;
  --color-foreground: #581c87;
  --color-accent: #7e22ce;
  --color-accent-foreground: #ffffff;
  --color-muted: #aaaaaa;
  --color-muted-foreground: #aaaaaa;
  --color-border: #ddd6fe;
  --color-border-foreground: #6b21a8;
}

[data-theme="autumn"] {
  --color-primary: #c2410c;
  --color-primary-foreground: #7c2d12;
  --color-secondary: #ffb867;
  --color-secondary-foreground: #78350f;
  --color-background: #fff7ed;
  --color-foreground: #9a3412;
  --color-accent: #b45309;
  --color-accent-foreground: #ffffff;
  --color-muted: #929292;
  --color-muted-foreground: #929292;
  --color-border: #fed7aa;
  --color-border-foreground: #78350f;
}

[data-theme="candy"] {
  --color-primary: #ec4899;
  --color-primary-foreground: #9d174d;
  --color-secondary: #f8cef7;
  --color-secondary-foreground: #312e81;
  --color-background: #fdf2f8;
  --color-foreground: #9d174d;
  --color-accent: #db2777;
  --color-accent-foreground: #ffffff;
  --color-muted: #929292;
  --color-muted-foreground: #929292;
  --color-border: #fbcfe8;
  --color-border-foreground: #9d174d;
}


body { 
  background-color: var(--color-background);
  color: var(--color-foreground);
}